.basket_img{
    height: 3rem;
    margin-right: 2em;
}

.order-content{
    margin-right: 1rem;
}

.searchlens{
 width: 60%;
 margin-left: 1em;
}

.search_and_basket{
    display: flex;
    justify-content: space-between;
    align-items:start;
    text-decoration: none;
}


@media (max-width: 600px) {
    .inputField {
        width: 100% !important;
    }
    .basket_img{
        margin-right: 2em;
    }
}

.basket_count{
    position: relative;
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
    margin: 0;
    padding: 0;
    bottom: 47px;
    width: 0px;
    left: 48%;
    text-decoration: none !important;
    text-align: center;
    pointer-events: none;
}